<mat-toolbar color="primary" >
  <span><a routerLink="/">Mis Mensajes</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">Nuevo Post</a>
    </li>
  </ul>
</mat-toolbar>
