<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi=true *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary" [routerLink]="['/edit', post.id]" >EDITAR</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">ELIMINAR</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body1" *ngIf="posts.length <= 0 && !isLoading">No hay ningun posteo todavia</p>
