<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSavePost(postForm)" #postForm = ngForm *ngIf="!isLoading">
      <mat-form-field>
        <input
          matInput
          type="text"
          name="title"
          [ngModel]="post?.title"
          required
          minlength="3"
          placeholder="Título"
          #title = "ngModel">
        <mat-error *ngIf="title.invalid">Ingresar Título</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          rows="4"
          name="content"
          [ngModel]="post?.content"
          required
          placeholder="Escriba aqui su post"
          #content = "ngModel"></textarea>
        <mat-error *ngIf="content.invalid">Ingresar Contenido</mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="accent"
        type="submit">Guardar Post
      </button>
  </form>
</mat-card>
